{% extends 'base.html' %}

{% block title %} Contacts {% endblock title%}

{% block body %}
<div class="container-fluid px-0 mb-3">
<img src="https://source.unsplash.com/1200x400/?phone,contact" class="d-block w-100 my-4 mx-0 " alt="...">

</div>
<div class="container">
    <h1 class="text-center" >Contact Us</h1>
    <form method="post" action="/contact">
        {% csrf_token %}
    <div class="mb-3">
  <label for="name" class="form-label">Name</label>
  <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name">
    </div>
    <div class="mb-3">
  <label for="phone" class="form-label">Phone Number</label>
  <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number">
</div>
    <div class="mb-3">
  <label for="email" class="form-label">Email address</label>
  <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email Address">
</div>
<div class="mb-3">
  <label for="desc" class="form-label">Tell me about what you want to contact me for...</label>
  <textarea name="desc" id="desc" cols="5" rows="10" class="form-control"></textarea>
</div>
<button class="btn btn-primary type=submit">Submit</button>
</form>
</div>

{% endblock body %}